services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - server-side/.env
    environment:
      - NODE_ENV=production
      - PORT=3000
    restart: always
